:root {
  font-size: 16px;
  --side-bar-bg-color: #0f172a;
  --side-bar-text-color: #cbd5e1;
  --content-bg-color: #94a3b8;
  --card-bg-color: #cbd5e1;
  --card-text-color: black;
  --card-shadow-color: #1e293b;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 17vw 1fr;
  grid-template-rows: 10vh 1fr;
}

.side-bar {
  background-color: var(--side-bar-bg-color);
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo img {
  height: 75px;
  width: 75px;
}

.side-bar h1 {
  color: var(--side-bar-text-color);
  font-size: 2rem;
}

.side-bar ul {
  display: grid;
  gap: 10px;
}

.side-bar li {
  display: flex;
  align-items: center;
  gap: 18px;
}

.side-bar li > img {
  height: 40px;
  width: 40px;
}

.side-bar a {
  text-decoration: none;
  font-size: 1.5rem;
}

.side-bar a:link,
.side-bar a:visited {
  color: var(--side-bar-text-color);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--content-bg-color);
  padding: 32px;
}

.search-bar,
.profile-bar {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 5rem;
}

.search-bar {
  width: 60%;
}

.search-bar img,
.profile-bar img {
  height: 40%;
}

.profile-bar > a {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 100%;
}

.header input {
  flex: 1;
  background-color: var(--card-bg-color);
  border: none;
  border-radius: 10px;
  padding: 5px 10px;
}

#theme-button {
  height: 100%;
  border: none;
  background-color: var(--content-bg-color);
}

.main-content {
  background-color: var(--content-bg-color);
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 5% 95%;
  padding: 32px;
  column-gap: 32px;
  row-gap: 16px;
}

.main-content h1 {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.project-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project-buttons {
  display: flex;
  gap: 18px;
}

.project-buttons button {
  border: none;
  border-radius: 16px;
  background-color: #0f172a;
  color: var(--side-bar-text-color);
  padding: 10px 20px;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 35px;
}

.project-card,
.announcement-card {
  background-color: var(--card-bg-color);
  box-shadow: 5px 10px 10px var(--card-shadow-color);
  border-radius: 5%;
}

.project-card {
  min-width: 200px;
  min-height: 200px;
}

.announcements {
  display: grid;
  grid-template-rows: 5fr 1fr 4fr;
}

.announcement-card {
  max-width: 300px;
  min-width: 200px;
}

.filter {
  filter: invert(82%) sepia(5%) saturate(541%) hue-rotate(172deg)
    brightness(109%) contrast(83%);
}
