:root {
  font-size: 16px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 17vw 1fr;
  grid-template-rows: 15vh 1fr;
}

.side-bar {
  background-color: #1992d4;
  grid-row: 1 / 3;
  display: flex;
  flex-direction: column;
  gap: 64px;
  padding: 18px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 18px;
}

.logo img {
  height: 75px;
  width: 75px;
}

.side-bar h1 {
  color: white;
  font-size: 2rem;
}

.side-bar ul {
  display: grid;
  gap: 10px;
}

.side-bar li {
  display: flex;
  align-items: center;
  gap: 18px;
}

.side-bar li > img {
  height: 40px;
  width: 40px;
  color: white;
}

.side-bar a {
  text-decoration: none;
  font-size: 1.5rem;
}

.side-bar a:link,
.side-bar a:visited {
  color: white;
}

.header {
  display: grid;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0px 5px 10px -5px black;
  z-index: 1;
}

.main-content {
  background-color: lightgray;
  display: grid;
  grid-template-columns: 6fr 2fr;
  grid-template-rows: 5% 95%;
  padding: 32px;
  column-gap: 32px;
  row-gap: 16px;
}

.main-content h1 {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-weight: bold;
}

.project-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-template-rows: 1fr 1fr 1fr;
  gap: 35px;
}

.project-card {
  background-color: white;
  border-radius: 5%;
  box-shadow: 5px 10px 10px darkgrey;
  max-width: 330px;
  max-height: 220px;
  min-width: 200px;
  min-height: 200px;
}

.announcements {
  display: grid;
  grid-template-rows: 5fr 1fr 4fr;
}

.announcement-card {
  background-color: white;
  border-radius: 5%;
  box-shadow: 5px 10px 10px darkgrey;
  max-width: 300px;
  min-width: 200px;
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%)
    contrast(103%);
}
